header{
  font-family:'Noto Sans TC', sans-serif;
  position: relative;
}
header .carousel{
  position: relative;
  margin-top: 56px;
}
header .carousel img{
  width:100%;
  height:90vh;
  object-fit: cover;
  object-position: 50% 50%;
}
header{
  color:red;
}
header .slide-box{
  position: absolute;
  width:calc(100% - 5%);
  height:calc(100% - 5%);
  top:2.5%;
  left:2.5%;
  background-color:white;
  opacity:0.2;
  border:5px double black;
}
header h1{
  position:absolute;
  top:20%;
  left:20%;
  font-size:4.5rem;
  font-weight: 700;
  color:white;
  letter-spacing: 6px;
  text-shadow: 1px 1px 2px #626567;
}
header h3{
  position:absolute;
  top:40%;
  left:20%;
  font-size:2rem;
  font-weight:400;
  color:white;
  letter-spacing: 6px;
  padding-right:1rem;
} 
header .carousel-btn{
  position: absolute;
  left: 50%;
  bottom:20%;
  border:none;
  outline: none;
  border-radius:6px;
  width:9rem;
  height:2.3rem;
  line-height:2.3rem;
  font-size:1.2rem;
  background-color:#34495E;
  color:white;
  transform: translateX(-50%);
}
header .carousel-btn:hover{
  background-color:#85929E;
  color:white;
} 
header .scrolldown>a{
  cursor: pointer;
}
header .scrolldown>a>span{
  position: absolute;
  top: 82vh;
  left: 50%;
  width: 24px;
  height: 24px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
  z-index:3;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@media (max-width: 992px){
  header h1{
    position:absolute;
    top:20%;
    left:10%;
    font-size:2.7rem;
    font-weight: 500;
  }
  header h3{
    position:absolute;
    top:40%;
    left:10%;
    font-size:1.5rem;
    font-weight:400;
  }
}
@media (max-width: 576px){
  header h1{
    position:absolute;
    top:20%;
    left:10%;
    font-size:2.4rem;
    font-weight: 500;
  }
  header h3{
    position:absolute;
    top:40%;
    left:10%;
    font-size:1.3rem;
    font-weight:400;
    letter-spacing:2px;
    line-height: 1.5rem;
  }
}
.allseries .seriestop{
  width:100%;
  height:450px;
  background-color:#E5E7E9;
  margin-bottom:550px;
  padding-top:5rem;
}
.allseries .seriestop>h3{
  text-align: center;
  font-size:2.5rem;
  font-weight:600;
  position: relative;
}
.allseries .seriestop>h3>span{
  position: absolute;
  color:#5D6D7E;
  opacity:0.4;
  font-size:2rem;
  font-weight:600;
  top:80%;
  left:2rem;
  width:100%;
}
.allseries .series-group{
  padding:4.5rem 10rem;
}
.allseries .seriesItem{
  border:3px solid white;
  overflow: hidden;
  position: relative;
  padding-bottom:65%;//利用內距顯示圖片
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}  
.allseries .seriesItem>img{
  height:100%;
  width:100%;
  position: absolute;
}
.allseries .seriesItem>p{
  height:100%;
  width:100%;
  display:flex;
  position: absolute;
  left:0;
  top:0;
  font-size:2rem;
  font-weight:500;
  justify-content: center;
  align-items: center;
  text-align:center;
  color: white;
  opacity:0;
  transition:all 0.4s;
  background-color:rgba(0,0,0,0.4);
}
.allseries .seriesItem>p:hover{
  opacity: 1;
}
@media (max-width: 1300px){
  .allseries .series-group{
    padding:3rem 3rem;
  } 
  .allseries .seriestop{
    height:100%;
    margin-bottom:0;
  }
}
@media (max-width: 768px){
  .allseries .series-group{
    padding:3rem 3rem;
  }  
}
.features{
  margin-top:3rem;
}
.features  .features_img{
  height:300px;
  background-image: url('../src/assets/images/sincerely-media-zLi4P7nnlsA-unsplash.jpg');
  background-position: center center;
  opacity:0.6;
}
.features .feature_txt{
  position: relative;
}
.features .feature_txt .feature_slogan{
  position: absolute;
  left:-2rem;
  top:70px;
}
.features .feature_txt .feature_slogan h4{
  font-size:1.7rem;
  position: relative;
}
.features .feature_txt .feature_slogan h4::after{
  position: absolute;
  content: '';
  left:2rem;
  top:95%;
  width:100%;
  height:10px;
  background-color:rgba($color: #34495E, $alpha: 0.4);
}
.features .feature_txt .feature_slogan h4:nth-of-type(2){
  margin-left:1.5rem;
}
.features .feature_txt .feature_slogan h4:nth-of-type(3){
  margin-left:3rem;
}
@media (max-width: 768px){
  .features .feature_txt .feature_slogan h4{
    font-size:1.5rem;
    position: relative;
  }
  .features .feature_txt .feature_slogan{
    position: absolute;
    left:-4rem;
    top:70px;
  }
  .features .feature_txt .feature_slogan h4::after{
    left:2rem;
    top:95%;
    width:85%;
    height:10px;
    background-color:rgba($color: #34495E, $alpha: 0.4);
  }
}
@media (max-width: 576px){
  .features .feature_txt .feature_slogan h4{
    font-size:1.3rem;
    position: relative;
  }
  .features .feature_txt .feature_slogan{
    position: absolute;
    left:-5rem;
    top:70px;
  }
}
.hotSales .containerfixed{
  width:75%;
  margin:0 auto;
  padding-top:4rem;
  padding-bottom:1.5rem;;
}
.hotSales .hotSalesTop>h2{
  text-align: center;
  font-size:2.5rem;
  font-weight:600;
  position: relative;
  margin-bottom:1.5rem;
}
.hotSales .hotSalesTop>h2>span{
  position: absolute;
  color:#5D6D7E;
  opacity:0.4;
  font-size:2rem;
  font-weight:600;
  top:80%;
  left:1rem;
  width:120%;
  text-align: left;
}
.hotSales .sec{
  flex-direction:row;
  padding:1.5rem 0;
  margin-bottom:3rem;
}
.hotSales .sec .secImg{
  height:inherit;
  overflow:hidden;
  width: 50%;
}
.hotSales .sec .secImg>img{
  transform:scale(1);
  transition:all 0.5s;
  max-width:100%;
  object-position:center center;
  object-fit:cover;
  width:100%;
  height:100%;
}
.hotSales .sec .secImg>img:hover{
  transform:scale(1.1);
}
.hotSales .sec .secContent{
  padding:3rem;
  width:50%;
  position:relative;
  background-color:#F2F3F4;
}
.hotSales .sec .secContent::before{
  position:absolute;
  content:" ";
  top:50%;
  left:-10px;
  width:20px;
  height:20px;
  background-color:#F2F3F4;
  z-index:2;
  transform:rotate(45deg);
}
.hotSales .sec .secContent h3{
  font-size:2.2rem;
}
.hotSales .sec .secContent p{
  font-size:1.2rem;
  margin-top:1.5rem
}
.hotSales .sec .secContent button{
  margin-top:2rem;
  border:none;
  border-radius:6px;
  outline: none;
  width:11rem;
  height:3rem;
  background-color:#34495E;
  color:white;
  font-size:1.2rem;
}
.hotSales .sec .secContent button:hover{
  background-color: #85929E;
}
@media (max-width: 992px){
  .hotSales .sec .secContent{
    padding:1.5rem;
  }
  .hotSales .sec .secContent h3{
    font-size:2rem;
  }
}
@media (max-width: 768px){
  .hotSales .sec .secContent{
    padding:1.5rem;
  }
  .hotSales .sec .secContent h3{
    font-size:1.8rem;
  }
  .hotSales .sec .secContent p{
    font-size:1rem;
    margin-top:1.5rem
  }
}
@media (max-width: 576px){
  .hotSales .containerfixed{
    width:100%;
    margin:0 auto;
  }
  .hotSales .sec{
    flex-direction:column;
    padding-left:3rem;
    padding-right:3rem;
  }
  .hotSales .sec .secImg{
    width: 100%;
  }
  .hotSales .sec .secContent{
    padding:2rem;
    width:100%;
  }
  .hotSales .sec .secContent::before{
    position:absolute;
    content:" ";
    top:-10px;
    left:calc(50% - 10px);
    width:20px;
    height:20px;
    background-color:#F2F3F4;
    z-index:2;
    transform:rotate(45deg);
  }
  .hotSales .sec .secContent h3{
    font-size:2rem;
  }
  .hotSales .sec .secContent p{
    font-size:1rem;
    margin-top:1.5rem
  }
}
.consults{
  padding:3rem;
}
.bordercorner{
  width:4rem;
  height:4rem;
  display:block;
  position:absolute;
  transition:all 0.5s;
  opacity:1;
}
.bordercorner:nth-of-type(1){
  left:0;
  top:0;
  border-top:1px solid grey;
  border-left:1px solid grey;
}
.bordercorner:nth-of-type(2){
  right:0;
  top:0;
  border-top:1px solid grey;
  border-right:1px solid grey;
}
.bordercorner:nth-of-type(3){
  left:0;
  bottom:0;
  border-bottom:1px solid grey;
  border-left:1px solid grey;
}
.bordercorner:nth-of-type(4){
  right:0;
  bottom:0;
  border-bottom:1px solid grey;
  border-right:1px solid grey;
}
.consults .container{
  max-width:1028px;
}
.consults .container h3{
  font-size:2rem;
  position: relative;
}
.consults .container h3>span{
  font-size:1.4rem;
  position: absolute;
  left:1rem;
  top:80%;
  color:#5D6D7E;
  opacity:0.4;
  font-weight:500;
}
.consults .container p{
  padding:5px;
  margin-top:2rem;
  font-size:1rem;
  line-height: 1.5rem;
}
.consults .contact{
  padding:1rem;
  margin:1rem;
  max-width:460px;
}
.consults .contact input, textarea{
  width:100%;
  border:none;
  outline:none;
  border-bottom:1px solid #85929E;
  margin-bottom:5px;
}
.consults .contact input:focus{
  border-bottom:1px solid #34495E;
}
.consults .contact textarea{
  height:100px;
}
.consults .contact button{
  width: 100%;
  background-color:#85929E;
  border:none;
  border-radius: 6px;
  color: white;
  transition:all 0.5s;
}
.consults .contact button:hover{
  background-color: #34495E;
}
.consults .left{
  position: relative;
}
.consults .left .backimg{
  height:90%;
  width:90%;
  position: absolute;
  left:10%;
  bottom:-15px;
  background-image: url('../src/assets/images/draw-4067546_640.png');
  transform: rotate(-20deg);
  background-size: cover;
  background-position: center center;
  z-index:-1;
  opacity:0.2;
} 
@media (max-width: 768px){
  .consults{
    padding-top:1rem;
  }
  .consults .left{
    margin-bottom:2rem;
  }
  .consults .left .backimg{
    height:80%;
    width:80%;
    position: absolute;
    left:5%;
    bottom:-15px;
    background-image: url('../src/assets/images/idea-2924175_640.png');
    transform: rotate(5deg);
    background-size: cover;
    background-position: center bottom;
    z-index:-1;
    opacity:0.2;
  } 
}
#sendOverModal .modal-header{
  background-color:#85929E;
}
#couponModal .modal-header{
  background-color:#85929E;
}
#couponModal .modal-body form{
  margin-top:1.5rem;
}
#couponModal .modal-body .coupon{
  margin-top:1.5rem;
  position: relative;
}
#couponModal .modal-body h3{
  position: absolute;
  transform:translateY(-50%);
  left:1.5rem;
  top:45%;
  font-size:1.5rem;
}
#couponModal .modal-body h3>strong{
   font-weight:600;
}
 //沒有定義div(backimg的大小，而是運用內距來規範大小，以顯示背景圖片)
#couponModal .modal-body .coupon .backimg{
  background-image: url('../src/assets/images/drawers.jpg');
  background-position: center center;
  background-size: cover;
  padding: 90px 120px;
  position: relative;
}
#couponModal .modal-body .coupon .backimg::after{
  content:"";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity:0.4;
  width:95%;
  height:90%;
  background:white;
}
.fadeIn{
  animation: fadeInto 2s;
}
@keyframes fadeInto{
  0% {
    transform: translateX(60px);
    opacity: 0;
  }
  100% { 
    transform: translateX(0px);
    opacity: 1;
  }
}
.form-signin{
  position: absolute;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}
.btn-signin{
  background-color: #34495E;
  color:white;
}
.btn-signin:hover{
  background-color: #85929E;
  color: #fff;
}



  
  
  
