.series{
    position: absolute;
    left: 5%;
    top:40%;
    margin:0 3rem;
    border:3px double black;
}
.series ul{
    display: inline;
    padding:1.5rem 0;
}
.series ul>li{
    display: inline-block;
    list-style:none;
    padding:1rem 1rem;
    cursor: pointer;
    font-size:1.1rem;
    text-align: center;
    position: relative;
}
.series ul>li::after{
    content: "";
    left:35%;
    bottom:12px;
    width:60px;
    height:12px;
    background-color: rgba(#34495E,0.3);
    position: absolute;
    opacity:0;
    transition:all 0.4s;
}
.series ul>li:hover::after{
    opacity: 1;
}
.series ul>li.active::after{
    opacity: 1;
}
@media (max-width: 768px){
    .series{
        left: 0%;
        margin:0 1.5rem;
        border:none;
    }
}
@media (max-width: 576px){
    .series{
        margin:0;
        border:none;
    }
}

